.our-blog_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lato;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;

}
.School-title{
    display: flex;
    align-items: center;
     justify-content: center;
     font-family: Lato;
font-weight: 900;
font-size: 46px;
line-height: 130%;
letter-spacing: 0%;
text-align: center;

}
.blog-all{
    margin-top: 60px;
}
.Blog-main_search{
    display: flex;
    align-items: center;
    gap: 40px;
}