.heroAbout{
    margin: 80px auto;
}

.heroAboutList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100% !important;
    gap: 135px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.herAbout__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.herAbout__item>h1{
    font-weight: 500;
    /* text-transform: uppercase; */
}
.herAbout__item>h2 {
    color: var(--textColor);
    font-size: 45px;
    margin-bottom: 30px;
}

.herAbout__item>h1 {
    color: var(--textColor);
}

.herAbout__item>h3 {
    color: var(--textColor);
}

.herAbout__item>h4 {
    color: var(--titleColor);
    font-weight: 500;
}

.heroAboutAction {
    display: flex;
    margin-top: 25px;
    align-items: center;
    gap: 25px;
}

.heroAboutAction>button {
    padding: 12px 40px;
    font-size: 17px;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 700;
    border: none;
}

.heroAboutAction>button:first-child {
    border: solid #FF3F3A 1.5px;
    color: #FF3F3A;
    background: none;
}

.heroAboutAction>button:last-child {
    color: white;
    background: linear-gradient(var(--backgroundElementLinear));
}
.heroAboutTwo{
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-between;
}
.watchVideoText{
    margin-top: 85px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
.heroAboutTwo>li:last-child{
    font-size: 45px;
    gap: 25px;
    display: flex;
    flex-direction: column;
}
.heroAboutTwo>li:last-child>h6{
    font-size: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #FF3F3A;
}
.heroAboutTwo>li:last-child>h6>span{
    font-size: 22px;
    color: var(--textColor);
    font-weight: 500;
}