.meetTeamSec{
    margin: 100px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meetPersonsList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 80px;
    gap: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meetTeamSec>h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
}
.meetTeamSec>h2{
    text-align: center;
    font-size: 45px;
}
.meetPersonsList>li{
    text-align: center;
}
.meetPerImg{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFCF2D;
}
.meetActions{
    position: absolute;
    display: flex;
    bottom: -12px;
    z-index: 3;
    transition: 0.20s;
    filter: drop-shadow(0 0 10px black);
    opacity: 0;
    right: 0;
    letter-spacing: 5px;
}
.meetPerImg:hover .meetActions{
    opacity: 1;
}

.meetActions>button{
    background: none;
    font-size: 25px;
    color: grey;
    transition: 0.25s;
    border: none;
}
.meetActions>button:hover{
    color: white;
}
.meetPerImg:hover .boxGradient{
    opacity: 1;
}
.boxGradient{
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: 0.25s;
    bottom: 1px;
    background: linear-gradient(rgba(255, 255, 0, 0),rgba(0, 0, 0, 0), rgb(15, 15, 15));
    z-index: 1;
    height: 100%;
}