.CourseCuratorSec{
    position: relative;
}

.CircleImg{
    position: absolute;
    top: -80px;
    left: -102px;
}
.CuratorList{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.CuratorList>li:last-child{
    width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 25px;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.serviceActives{
    display: flex;
    gap: 12px;
}
.serviceIcon{
    transition: 0.20s;
    font-size: 18px;
}
.serviceIcon:hover{
    color: #FF3F3A;
}